@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  /* FONT_FAMILY */
  --font-inter: "Inter", sans-serif;
  --font-screamer: "screamer", sans-serif;

  /* COLORS */
  --color-primary: #afafaf;
  --color-secondary: #767676;
  --color-kingly: #191919;
  --color-shoeWax: #2b2b2b;
  --color-sdhadowed: #4a4a4a;
  --color-greyOfDarkness: #a3a3a3;
  --color-hollandaise: #ffe943;
  --color-dandelion: #ffe30a;
  --color-mustard: #d0b800;
  --color-glowlight: #fff6b4;
  --color-superSilver: #f1f1f1;
  --color-placebo: #e6e6e6;
  --color-gainsboro: #d9d9d9;
  --color-spiritstoneRed: #fc351b;
  --color-aresRed: #e01f04;
  --color-rufous: #ac1905;

  /* FONT-SIZE */
  --text-56: 56px;

  /* LINE_HEIGHT */
  --leading-l1: 150%;
  --leading-l2: 142.857%;
  --leading-l3: 133.333%;

  /* LATTER-SPACING */
  --tracking-032: -0.32px;
  --tracking-036: -0.36px;

  /* SHADOWS */
  --shadow-c1: 0 0 0 2px var(#191919, #fff), 0 0 0 4px var(#4a4a4a, #191919);
  --shadow-c2: 0 0 0 2px var(#ffe943, #fff), 0 0 0 4px var(#d0b800, #191919);
  --shadow-c3: 0 0 0 2px var(#d9d9d9, #191919);
  --shadow-c4: 0 0 0 2px var(#fc351b, #fff), 0 0 0 4px var(#ac1905, #191919);
}

@font-face {
  font-family: "screamer";
  src: url("/fonts/FKScreamerTrial-400.otf") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "screamer";
  src: url("/fonts/FKScreamerTrial-500.otf") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "screamer";
  src: url("/fonts/FKScreamerTrial-700.otf") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "screamer";
  src: url("/fonts/FKScreamerTrial-900.otf") format("woff2");
  font-weight: 900;
  font-style: normal;
}

body {
  @apply font-inter bg-white;
}

.primary-container {
  @apply mx-auto w-full max-w-[1392px] px-3 xl:px-5;
}

.form-sub-heading {
  @apply font-inter leading-l1 tracking-032 text-center text-base text-black;
}

.form-heading {
  @apply text-56 font-screamer text-center text-3xl font-bold text-black uppercase;
}
.no-scrollbar::-webkit-scrollbar {
  @apply hidden;
}
.line-hover {
  @apply bg-kingly absolute bottom-0 left-0 h-px w-0 transition-all duration-300 ease-in-out group-hover:w-full;
}
